<section class="main">
	<div id="rm-container" class="rm-container" ng-class= "{'rm-open': menuopen, 'rm-in rm-nodelay':detailsView && menuopen }">
		<div class="rm-wrapper">

			<div class="rm-cover">
				<div class="rm-front">
					<div class="rm-content">
						<div class="rm-logo"></div>
						<h2>{{menucover.title}}</h2>
						<h3>{{menucover.description}}</h3>

						<a href="" class="rm-button-open" ng-click="menuopen = true">View the Menu</a>
						<div class="rm-info">
							<p>
							<strong>{{menucover.title}}</strong><br>
							{{menucover.streetaddress}}<br>
							{{menucover.city}}, {{menucover.state}} {{menucover.zip}}<br>
							<strong>Phone</strong> {{menucover.phone}}<br>
							<strong>Fax</strong> {{menucover.fax}}</p>
						</div>
					</div><!-- /rm-content -->
				</div><!-- /rm-front -->
				<div class="rm-back">
					<div class="rm-content">
						<h4>{{menu[0].title}}</h4>
						<dl ng-repeat="dish in menu[0].dishes | limitTo : limitamount : leftoffset*limitamount">
							<dt>
								<a href="" class="rm-viewdetails" data-thumb="{{dish.img}}" ng-click="showViewDetails(dish)">{{dish.name}}</a> 
								<a href="" class="pull-right"ng-click="$parent.totalprice=$parent.totalprice+dish.price; $parent.cart[dish.name] = true;"><span ng-show="showcart && !$parent.cart[dish.name]" >+</span></a>
								<a href="" class="pull-right" ng-click="$parent.totalprice=$parent.totalprice-dish.price; $parent.cart[dish.name] = false;"><span ng-hide="!showcart || !$parent.cart[dish.name]" >-</span></a>  
							</dt>
							<dd>{{dish.description}}<br> <span>{{dish.price | currency}}</span></dd>

						</dl>
						<div class="row" ng-show="pagination">
							<div class="col-sm-12">
								<button class="btn btn-primary btn-sm pull-left pull-down" ng-click="leftoffset=leftoffset-1" ng-hide="leftoffset===0">Prev </button>
								<span class="text-center">showing {{leftoffset*limitamount+1}}-<span ng-show="((leftoffset+1)*limitamount)<menu[0].dishes.length">{{(leftoffset+1)*limitamount}}</span><span ng-hide="((leftoffset+1)*limitamount)<menu[0].dishes.length">{{menu[0].dishes.length}}</span> of {{menu[0].dishes.length}}</span>
								<button class="btn btn-primary btn-sm pull-right" ng-click="leftoffset=leftoffset+1" ng-hide="(leftoffset+1)*limitamount>=menu[0].dishes.length">Next </button>
							</div>
						</div>
						<div class="row" ng-show="showcart">
							<div class="col-sm-12">
								<span class="glyphicon glyphicon-shopping-cart"></span> Total Price: {{totalprice | currency}}
							</div>
						</div>
					</div><!-- /rm-content -->
					<div class="rm-overlay"></div>
				</div><!-- /rm-back -->
			</div><!-- /rm-cover -->
			
			<div class="rm-middle">
				<div class="rm-inner">
					<div class="rm-content">
						<h4>{{menu[1].title}}</h4>
						<dl ng-repeat="dish in menu[1].dishes | limitTo : limitamount : midoffset*limitamount">
							<dt>
								<a href="" class="rm-viewdetails" data-thumb="{{dish.img}}" ng-click="showViewDetails(dish)">{{dish.name}}</a> 
								<a href="" class="pull-right"ng-click="$parent.totalprice=$parent.totalprice+dish.price; $parent.cart[dish.name] = true;"><span ng-show="showcart && !$parent.cart[dish.name]" >+</span></a>
								<a href="" class="pull-right" ng-click="$parent.totalprice=$parent.totalprice-dish.price; $parent.cart[dish.name] = false;"><span ng-hide="!showcart || !$parent.cart[dish.name]" >-</span></a>  
							</dt>
							<dd>{{dish.description}}</dd>
						</dl>
						<div class="row" ng-show="pagination">
							<div class="col-sm-12">
								<button class="btn btn-primary btn-sm pull-left pull-down" ng-click="midoffset=midoffset-1" ng-hide="midoffset===0">Prev </button>
								<span class="text-center">showing {{midoffset*limitamount+1}}-<span ng-show="((midoffset+1)*limitamount)<menu[1].dishes.length">{{(midoffset+1)*limitamount}}</span><span ng-hide="((midoffset+1)*limitamount)<menu[1].dishes.length">{{menu[1].dishes.length}}</span> of {{menu[1].dishes.length}}</span>
								<button class="btn btn-primary btn-sm pull-right" ng-click="midoffset=midoffset+1" ng-hide="(midoffset+1)*limitamount>=menu[1].dishes.length">Next </button>
							</div>
						</div>
					</div><!-- /rm-content -->
					<div class="rm-overlay"></div>
				</div><!-- /rm-inner -->
			</div><!-- /rm-middle -->

			<div class="rm-right">
				<div class="rm-front"></div>
				<div class="rm-back">
					<span ng-hide="removeclose" class="rm-close" ng-click="closeMenu()">Close</span>
					<div class="rm-content">
						<h4>{{menu[2].title}}</h4>
						<dl ng-repeat="dish in menu[2].dishes | limitTo : limitamount : rightoffset*limitamount">
							<dt>
								<a href="" class="rm-viewdetails" data-thumb="{{dish.img}}" ng-click="showViewDetails(dish)">{{dish.name}}</a> 
								<a href="" class="pull-right"ng-click="$parent.totalprice=$parent.totalprice+dish.price; $parent.cart[dish.name] = true;"><span ng-show="showcart && !$parent.cart[dish.name]" >+</span></a>
								<a href="" class="pull-right" ng-click="$parent.totalprice=$parent.totalprice-dish.price; $parent.cart[dish.name] = false;"><span ng-hide="!showcart || !$parent.cart[dish.name]" >-</span></a>  
							</dt>
							<dd>{{dish.description}}</dd>
						</dl>
						<div class="row" ng-show="pagination">
							<div class="col-sm-12">
								<button class="btn btn-primary btn-sm pull-left pull-down" ng-click="rightoffset=rightoffset-1" ng-hide="rightoffset===0">Prev </button>
								<span class="text-center">showing {{rightoffset*limitamount+1}}-<span ng-show="((rightoffset+1)*limitamount)<menu[2].dishes.length">{{(rightoffset+1)*limitamount}}</span><span ng-hide="((rightoffset+1)*limitamount)<menu[2].dishes.length">{{menu[2].dishes.length}}</span> of {{menu[2].dishes.length}}</span>
								<button class="btn btn-primary btn-sm pull-right" ng-click="rightoffset=rightoffset+1" ng-hide="(rightoffset+1)*limitamount>=menu[2].dishes.length">Next </button>
							</div>
						</div>
						<div class="rm-order" ng-show="cateringmessage">
							<p>{{cateringmessage}}</p>
						</div>
					</div><!-- /rm-content -->
				</div><!-- /rm-back -->

			</div><!-- /rm-right -->
		</div><!-- /rm-wrapper -->
	
		<div class="rm-modal" ng-show="detailsView && menuopen"><div class="rm-thumb"  ng-style="{'background-image': 'url('+ currDish.img +')'}"></div><h5>{{currDish.name}}</h5><p>{{currDish.description}}</p><a href="{{currDish.link}}">See the recipe</a><span class="rm-close-modal" ng-click="detailsView=false">x</span></div>


	</div><!-- /rm-container -->

</section>
	